.App {
  width: 1150px;
  margin: auto;
  padding: 0px 10px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: space-between;
}

.reset-btn{
  position: fixed;
  top : 95vh;
  border-radius: 10px;
  background: red;
  border: none;
  padding: 5px;
  color:white;
  font-size: 17px;
}
.reset-btn:hover{
 background: orangered;
}